/* BASE STYLES */

body{
   background-color: magenta;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

* {
   box-sizing: border-box;
}
 
h1{
   text-align: center;
   color: black;
   margin-bottom: 30px;
   font-size: 250%;
}

.box, .bigbox{
   background-color: lightblue;
   border: 1px solid black;
   margin: 10px;
   float: left;
   box-sizing: border-box;
}

#content{
   text-align: left;
   color: navy;
   margin: 40px 10px 10px 15px;
   font-size: 80%;
}

#smallbox1{
   background-color: lightcoral;
   border: solid black 1px;
   float: right;
   width: 80px;
   margin: 0px;
   padding: 5px 2px 4px 4px;
   border-top: 0px;
   border-right: 0px;
   text-align: center;
   font-size: 100%;
}

#smallbox2{
   background-color: lightpink;
   border: solid black 1px;
   float: right;
   width: 80px;
   margin: 0px;
   padding: 5px 2px 4px 4px;
   border-top: 0px;
   border-right: 0px;
   text-align: center;
}

#smallbox3{
   background-color: lightseagreen;
   border: solid black 1px;
   float: right;
   width: 80px;
   margin: 0px;
   padding: 5px 2px 4px 4px;
   border-top: 0px;
   border-right: 0px;
   text-align: center;
}


/********** DESKTOP **********/

@media (min-width:992px){

   .box, .bigbox{
      width: 31%;
   }
   }


/********** TABLET **********/

@media (min-width:768px) and (max-width:991px){
   .box{
      width: 45%;
   }
   .bigbox{
      width: 92%;
   }

}

/********** MOBILE **********/

@media (max-width:767px){

   .box, .bigbox{
      width: 90%;
   }

}
