body{
   background-color: magenta;
   font-size: 100%; 
   margin: 0;
}

.box{
   background-color: lightblue;
   border: 1px, black;
   padding: 10px;
}

#content{
   text-align: left;
   color: navy;
}


h1{
   text-align: center;
   color: black;
   margin-bottom: 30px;
}